.top-nav-collapse {
    background-color: #24355C;
  }
  @media (max-width: 768px) {
    .navbar:not(.top-nav-collapse) {
      background-color: #24355C;
    }
  }
  @media (min-width: 800px) and (max-width: 850px) {
    .navbar:not(.top-nav-collapse) {
      background-color: #24355C;
    }
  }

.logo{
    height: 30px;
    width: 70px;
}
.card-comments img{width:4rem}

.poparticleimg{
height: 70px !important;
width: 70px !important;
}
